<div class="jumbotron jumbotron-carousel hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 text-center">
                <h1>Button</h1>
                <p>Get JSON responses easily for your web and mobile apps</p>
                <div class="actions">
                    <span>&nbsp;</span>
                </div>
                <div class="shameless-self-promotion">
                    Version {{ site.button.version }} &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a href="{{ site.button.github.url }}">GitHub Project</a> &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    Created by <a href="http://twitter.com/{{ site.button.author.twitter }}">{{ site.button.author.twitter }}</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div id="icon-carousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div>
                                <span class="title">API Agnostic</span>
                                <span class="desc">Don't need to learn new API's  </span>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <span class="title">Full Modular</span>
                                <span class="desc">Load to your project only the necessary libraries</span>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <span class="title">Fast and Light</span>
                                <span class="desc">With just 1.5 KB you can do anything</span>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#icon-carousel" data-slide="prev">
                        <i class="fa fa-arrow-circle-left"></i></a>
                    <a class="carousel-control right" href="#icon-carousel" data-slide="next">
                        <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
