<div id="social-buttons" class="hidden-print">
  <div class="container">
    <ul class="list-inline">
      <li>
        <!--<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rogelio-meza-t&repo=button&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>-->
      </li>
      <li>
        <!--<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rogelio-meza-t&repo=button&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>-->
      </li>
      <li class="follow-btn">
        <!--<a href="https://twitter.com/{{ site.button.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.button.twitter }}</a>-->
      </li>
      <li class="tweet-btn hidden-phone">
        <!--<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.button.url }}" data-text="Font Awesome, the iconic font designed for Bootstrap" data-counturl="{{ site.button.legacy_url }}" data-count="horizontal" data-via="{{ site.button.twitter }}" data-related="{{ site.button.author.twitter }}:Creator of Font Awesome">Tweet</a>-->
      </li>
    </ul>
  </div>
</div>
