<section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-circle"></i> No API. Some rules</h4>
      Remember a few rules to get started to coding.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-circle"></i> Keep coding in PHP</h4>
      To develop some feature you only need to know the PHP core functions.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-circle"></i> RESTful</h4>
      Supports most common REST operations.
    </div>
  </div>
</section>
